<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ny"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9"
              android:targetSdkVersion="24" />

    <application android:label="ny-android-label"
                 android:hasCode="false"
                 android:allowBackup="true">

    <activity android:name="android.app.NativeActivity"
              android:label="ny-android"
              android:configChanges="keyboardHidden|orientation|screenSize">

		<meta-data android:name="android.app.lib_name" android:value="ny-android"/>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    </application>
</manifest>
